*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans' , sans-serif;
}

body{
    height: 100vh;
    background-color: #000;
    background-image: url('https://www.istockphoto.com/photo/beautiful-sunshine-at-misty-morning-mountains-gm1553352177-526563979');
    background-image: fill;
}