
#a1{
    color: blue;
    padding-left: 400px;
}
#a2{
    color: rgb(43, 201, 69);
    
}
#a3{
    font-size: 25px;
    color: rgb(0, 0, 0);
    padding-left: 600px;
}
#a4{
    color:rgb(0, 0, 0); 
}
#a5{
   
    color:rgb(255, 255, 255); 
    margin-left: auto;
    margin-right: auto;
}

#a6{
    color:rgb(255, 255, 255); 
    padding-left: 550px;
}
body{
    background-image: url("../background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}